/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.info {
  width: 50%;
  margin: 0 auto;
  padding: 15px; 
  border: 1px solid black;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  margin: 5px;
}

input {
  flex: 0 1 60%;
  margin-left: auto;
}

.info-section-header{
  font-size: 1.5em;
}